.user_login{

	background-color: #76CEBE;
	padding: 10px;
	margin-top: 200px;
	margin-left : 300px ;
	margin-right: 300px ;
	font-family: "Times New Roman", Georgia, Serif;
}
.user_login legend{
	font-size: 25px;
}
.user_login legend img{
	width: 70px;
	height: 70px;
}
.user_login label{
	font-size: 18px;
}
.user_login button{
	padding: 6px 20px;
	border-radius: 0px;
}
.user_login input{
	border-radius: 0px;
}
.alert p{

}
@media (max-width: 700px){
	.user_login{
		margin: 0px 30px;
		margin-top: 200px;
	}
}
@media (min-width: 701px) and (max-width: 900px){
	.user_login{
		margin:70px;
	}
}
